#site-navigation {
	position: fixed;
	width: 80%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #CCC;
	z-index: 3;

	@include transform(translate3d(-100%,0,0));

	.menu-toggle {
		position: absolute;
		left: 100%;
		top: 0;
		line-height: 30px;
		text-align: center;
		text-decoration: none;
		background-color: #CCC;
		color: #FFF;
		display: block;
		@include rem(font-size, 25px);
		padding: 10px;
	}

	&.menu-opened {
		@include transform(translate3d(0,0,0));

		.menu-toggle:before {
			content: "\e6fd";
		}
	}

	&.menu-transitioning {
		@include transition(transform 0.25s linear);
	}

	@include breakpoint($bp-tablet) {
		position: relative;
		width: auto;
		height: auto;
		left: auto;
		top: auto;
		@include transform(translate3d(0,0,0));	
		@include transition(transform 0s linear);

		.menu-toggle {
			display: none;
		}

		.nav-menu {
			text-align: center;
			li {
				padding: 5px;
				display: inline-block;
			}
		}
	}
}